<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="src/test/java/testcases">
        <classes>
            <class name="testcases.TestLoginPage">
                <methods>
                    <exclude name="testLogins"/>
                </methods>
            </class>
            <class name="testcases.TestAttendance">
                <methods>
                    <exclude name="testLogins"/>
                </methods>
            </class>
        </classes>

        </test>
</suite>